<div class="main-content">
  <div clas="row">
    <div class="section-body">
      <div class="row col-md-8 offset-md-4">
        <form class="form-inline">
          <div class="search-element">
            <input class="form-control" type="search" placeholder="What type of insurance you need?" aria-label="What type of insurance you need?" data-width="250">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            <div class="search-backdrop"></div>
            <div class="search-result">
              <div class="search-header">
                Result
              </div>
              <div class="search-item">
                <a href="#">
                  Car
                </a>
              </div>
              <div class="search-item">
                <a href="#">
                  Bicycle
                </a>
              </div>
              <div class="search-item">
                <a href="#">
                  Smartphone
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
      <div class="row pt-5 mt-5">
        <div class="col-12 col-md-4 col-lg-4">
          <article class="article article-style-c">
            <div class="article-header">
              <div class="article-image" data-background="assets/img/news/img13.jpg" style="background-image: url(&quot;assets/img/news/img13.jpg&quot;);">
              </div>
            </div>
            <div class="article-details">
              <div class="article-category"><a href="#">News</a> <div class="bullet"></div> <a href="#">5 Days</a></div>
              <div class="article-title">
                <h2><a href="#">Excepteur sint occaecat cupidatat non proident</a></h2>
              </div>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. </p>
            </div>
          </article>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <article class="article article-style-c">
            <div class="article-header">
              <div class="article-image" data-background="assets/img/news/img14.jpg" style="background-image: url(&quot;assets/img/news/img14.jpg&quot;);">
              </div>
            </div>
            <div class="article-details">
              <div class="article-category"><a href="#">News</a> <div class="bullet"></div> <a href="#">5 Days</a></div>
              <div class="article-title">
                <h2><a href="#">Excepteur sint occaecat cupidatat non proident</a></h2>
              </div>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. </p>
            </div>
          </article>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <article class="article article-style-c">
            <div class="article-header">
              <div class="article-image" data-background="assets/img/news/img01.jpg" style="background-image: url(&quot;assets/img/news/img01.jpg&quot;);">
              </div>
            </div>
            <div class="article-details">
              <div class="article-category"><a href="#">News</a> <div class="bullet"></div> <a href="#">5 Days</a></div>
              <div class="article-title">
                <h2><a href="#">Excepteur sint occaecat cupidatat non proident</a></h2>
              </div>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. </p>
            </div>
          </article>
        </div>
                <div class="col-12 col-md-4 col-lg-4">
          <article class="article article-style-c">
            <div class="article-header">
              <div class="article-image" data-background="assets/img/news/img13.jpg" style="background-image: url(&quot;assets/img/news/img13.jpg&quot;);">
              </div>
            </div>
            <div class="article-details">
              <div class="article-category"><a href="#">News</a> <div class="bullet"></div> <a href="#">5 Days</a></div>
              <div class="article-title">
                <h2><a href="#">Excepteur sint occaecat cupidatat non proident</a></h2>
              </div>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. </p>
            </div>
          </article>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <article class="article article-style-c">
            <div class="article-header">
              <div class="article-image" data-background="assets/img/news/img14.jpg" style="background-image: url(&quot;assets/img/news/img14.jpg&quot;);">
              </div>
            </div>
            <div class="article-details">
              <div class="article-category"><a href="#">News</a> <div class="bullet"></div> <a href="#">5 Days</a></div>
              <div class="article-title">
                <h2><a href="#">Excepteur sint occaecat cupidatat non proident</a></h2>
              </div>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. </p>
            </div>
          </article>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <article class="article article-style-c">
            <div class="article-header">
              <div class="article-image" data-background="assets/img/news/img01.jpg" style="background-image: url(&quot;assets/img/news/img01.jpg&quot;);">
              </div>
            </div>
            <div class="article-details">
              <div class="article-category"><a href="#">News</a> <div class="bullet"></div> <a href="#">5 Days</a></div>
              <div class="article-title">
                <h2><a href="#">Excepteur sint occaecat cupidatat non proident</a></h2>
              </div>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>